version: "3"
services:
  app:
    build: .
    ports:
      - ${PORT}:${PORT}
    restart: always

  database:
    image: postgres:alpine3.15
    environment:
      POSTGRES_USER: ${TYPEORM_USERNAME}
      POSTGRES_PASSWORD: ${TYPEORM_PASSWORD}
      POSTGRES_DATABASE: ${TYPEORM_DATABASE}
